# git-crypt encrypted files
stow/secrets/dot-secrets filter=git-crypt diff=git-crypt
stow/ssh/dot-ssh/config filter=git-crypt diff=git-crypt
stow/git/dot-config/git/allowed_signers filter=git-crypt diff=git-crypt
stow/gh/dot-config/gh/hosts.yml filter=git-crypt diff=git-crypt
stow/rclone/dot-config/rclone/rclone.conf filter=git-crypt diff=git-crypt
stow/caam/dot-local/share/caam/vault/** filter=git-crypt diff=git-crypt
stow/codex/dot-codex/config.toml filter=git-crypt diff=git-crypt

snapshots/tailscale/** filter=git-crypt diff=git-crypt
snapshots/codexbar/** filter=git-crypt diff=git-crypt
