<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.devtosync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>exec "$HOME/dotfiles/scripts/sync/sync_dev_to_icloud.sh" &gt;&gt; "$HOME/dotfiles/scripts/sync/logs/devtosync.log" 2&gt;&gt; "$HOME/dotfiles/scripts/sync/logs/devtosync.error.log"</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
